<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Assignment</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login/Log out
            </NavLink>
            <NavLink class="nav-link" href="Search">
                <span class="oi oi-text" aria-hidden="true"></span> Search
            </NavLink>
             <NavLink class="nav-link" href="ManagerPerson">
                 <span class="oi oi-menu" aria-hidden="true"></span> ManagerPerson
                 </NavLink>
        </li>
        
    </ul>
</div>=Role is

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}